.create-enterprise-box-shadow{
    -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.66);
    -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.66);
    box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.66);
}

.content{
    top: 25%;
    margin: auto;
    background: white;
    padding: 10rem;
}