/* .content {
    // max-width: 500px;
    // width: 60%;
    margin: auto;
    background: white;
    padding: 10px;
    // position: sticky;
    top: 25%;
    height: 25%;
} */

.content{
    top: 25%;
    margin: auto;
    background: white;
    padding: 10rem;
}